<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.km.assignment.repository.ProductRepository">
    <resultMap id="result" type="product">
        <id property="id" column="ID"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <result property="unit" column="unit"/>
        <result property="remark" column="remark"/>
        <result property="deleted" column="deleted"/>
        <result property="creator" column="creator"/>
        <result property="createdTime" column="created_time"/>
    </resultMap>

    <select id="getOne" resultType="product" resultMap="result">
        SELECT * FROM product LIMIT 1
    </select>

    <select id="getLimit" parameterType="int" resultType="product" resultMap="result">
        SELECT * FROM product LIMIT #{limit}
    </select>

    <select id="findById" parameterType="String" resultType="product" resultMap="result">
        SELECT * FROM product where ID = #{id}
    </select>

    <select id="count" resultType="int">
        SELECT COUNT(*) FROM product
    </select>

    <insert id="insert" keyProperty="id" parameterType="product">
        INSERT INTO product(ID, code, name, price, unit, remark, deleted, creator, created_time)
        VALUES (#{id}, #{code}, #{name}, #{price}, #{unit}, #{remark}, #{deleted}, #{creator}, #{createdTime})
    </insert>
</mapper>